@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html {
    font-size: 62.5%;
    font-family: 'Poppins', sans-serif;
  }
  
  body {
    font-size: 1.6rem;
    font-family: 'Poppins', sans-serif;
  }

  .main-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
  }

  .developing-website {
    padding: .5rem;
    border-radius: 2rem;
    background-color: black;
    color: white;
  }